@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: "Roboto", sans-serif;
}

header, .hero-section, footer{
	background: #1f2937;
}

.hero-section h1{
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-section p, li a{
	font-size: 18px;
	color: #e5e7eb;
}

nav h3{
	font-size: 24px;
	color: #f9faf8;
}

.cta-button{
	background: #3882f6;
	color: white;
	padding: 4px 20px;
	font-weight: bold;
	border-radius: 6px;
	border-style: none;
}

.information-section h2{
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}

.quote-section{
	background: #e5e7eb;
}

q{
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
}





header{
	padding: 16px 0;
}


nav{
	display: flex;
	justify-content: space-between;
	width: 80vw;
	margin: auto;
}

nav ul{
	display: flex;
	gap: 16px;
	align-items: center;
}

main{
	display: flex;
	flex-direction: column;
	gap: 20%;
}


.content{
	display: flex;
	flex: 1 1 30vh;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;
	gap: 28px;
	width: 80vw;
	margin: auto;
}

.hero-text{
	margin: 48px 0;
}

.hero-text p {
	margin: 12px 0;
}

.information-section .content{
	flex-direction: column;
}

.information-section h2{
	text-align: center;
	margin-bottom: 40px;
}

.container{
	display: flex;
	justify-content: space-evenly;
	gap: 24px;
}

.item{
	display: flex;
	flex-direction: column;
	width: 10%;
	min-width: 100px;
	align-items: center;

	text-align: center;
	flex: 1 150px;
}

.square{
	padding: 12px;
	border: 3px solid #3882f6;
	height: 150px;
	width: 150px;
	margin: 12px 0;
	border-radius: 8px;
}

.quote-section .content{
	flex-direction: column;
}

.sayer{
	margin-left: auto;
}

.flex-cont{
	padding: 32px 100px;
	background: #3882f6;
	border-radius: 8px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.flex-cont button{
	border: 3px solid white;
}

footer{
	text-align: center;
	padding: 16px;
	color: white;
}
