@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: "Roboto", sans-serif;
}

header, .hero-section, footer{
	background: #1f2937;
}

.hero-section h1{
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-section p, li a{
	font-size: 18px;
	color: #e5e7eb;
}

nav h3{
	font-size: 24px;
	color: #f9faf8;
}

.cta-button{
	background: #3882f6;
	color: white;
	padding: 4px 20px;
	font-weight: bold;
	border-radius: 6px;
	border-style: none;
}

.information-section h2{
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}

.quote-section{
	background: #e5e7eb;
}

.quote-section quote{
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
}

header{
	padding: 16px;
}

nav{
	display: flex;
	justify-content: space-between;
}

nav ul{
	display: flex;
	gap: 16px;
	align-items: center;
}

main{
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.hero-section{
	display: flex;
	padding: 80px 0;
	justify-content: space-between;
	gap: 40px;
	align-items: center;
}

.hero-text{
	margin: 48px 0;
}

.hero-text p {
	margin: 12px 0;
}

.information-section h2{
	text-align: center;
	margin: 40px;
}

.container{
	display: flex;
	justify-content: space-evenly;
	gap: 24px;
}

.item{
	display: flex;
	flex-direction: column;
	width: 10%;
	min-width: 100px;
	align-items: center;

	text-align: center;
	flex: 1 150px;
}

.square{
	padding: 12px;
	border: 3px solid #3882f6;
	height: 150px;
	width: 150px;
	margin: 12px 0;
	border-radius: 8px;
}